<title>Goals | Personal Portal</title>

{% extends "base.html" %}

{% block content %}

<style>
#goals {
  border-collapse: collapse;
  width: 100%;
}

#goals td, #goals th {
  border: 1px solid #ddd;
  padding: 8px;
}

#goals tr:nth-child(even){background-color: #f2f2f2;}

#goals tr:hover {background-color: #ddd;}

#goals th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

<p>
    {% if perms.viewer.add_goal %}
        <a href="{% url 'goal_create' %}">➕Create Goal</a>
    {% endif %}
</p>

<h1>Personal Goals Overview</h1>
{% if user.is_authenticated %}
<table id="goals">
    <tr>
        <th>Goal Name</th>
        <th>Target Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Revisions</th>
    </tr>
    {% for goal in goals %}
    <tr>
        <td><a href="{% url 'goal' goal.id %}"><strong>{{ goal.name }}</strong></a></td>
        <td>{{ goal.deadline|date:"j. n. Y" }}</td>
        <td>{{ goal.priority|title }}</td>
        <td>{{ goal.status|upper }}</td>
        <td>
            {% if user.is_authenticated %}
            {% if perms.viewer.change_goal %}
                <a href="{% url 'goal_update' goal.id %}">✏️Update</a>
            {% endif %}
            {% if perms.viewer.delete_goal %}
                <a href="{% url 'goal_delete' goal.id %}">❌Delete</a>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <p>List of goals is empty.</p>
    {% endfor %}
</table>

<p>
{% for subordinate in subordinates %}
<h2> {{ subordinate }} <img src="{{ subordinate.picture.url }}" alt="Profile Picture" width="40px"></h2>
<table id="goals">
    <tr>
        <th>Goal Name</th>
        <th>Target Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Revisions</th>
    </tr>
    {% for goal in subordinate.get_all_goals %}
    <tr>
        <td><a href="{% url 'goal' goal.id %}"><strong>{{ goal.name }}</strong></a></td>
        <td>{{ goal.deadline|date:"j. n. Y" }}</td>
        <td>{{ goal.priority|title }}</td>
        <td>{{ goal.status|upper }}</td>
        <td>
            {% if user.is_authenticated %}
            {% if perms.viewer.change_goal %}
                <a href="{% url 'goal_update' goal.id %}">✏️Update</a>
            {% endif %}
            {% if perms.viewer.delete_goal %}
                <a href="{% url 'goal_delete' goal.id %}">❌Delete</a>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <p>List of goals is empty.</p>
    {% endfor %}
</table>
{% endfor %}
</p>

{% endif %}
{% endblock %}