<title>Goals | Personal Portal</title>

{% extends "base.html" %}

{% block content %}

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 1px;
}

.goals {
  border-collapse: collapse;
  width: 100%;
}

.goals td, .goals th {
  border: 1px solid #ddd;
  padding: 8px;
}

.goals tr:nth-child(even){background-color: #f2f2f2;}

.goals tr:hover {background-color: #ddd;}

.goals th {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

<h1>Personal Goals Overview</h1>

{% if user.is_authenticated %}

<p>
    {% if perms.viewer.add_goal %}
        <a href="{% url 'goal_create' %}">➕Create Goal</a>
    {% endif %}
</p>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for goal name..." title="Type in a name">

<div class="container mt-5" style="border-radius: 15px;">
    <div class="card shadow-sm">
        <table id="goals" class="goals">
            <tr>
                <th>Goal Name</th>
                <th>Target Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Revisions</th>
            </tr>
            {% for goal in goals %}
            <tr>
                <td><a href="{% url 'goal' goal.id %}"><strong>{{ goal.name }}</strong></a></td>
                <td>{{ goal.deadline|date:"j. n. Y" }}</td>
                <td>{{ goal.priority|title }}</td>
                <td>{{ goal.status|upper }}</td>
                <td>
                    {% if user.is_authenticated %}
                    {% if perms.viewer.change_goal %}
                        <a href="{% url 'goal_update' goal.id %}">✏️Update</a>
                    {% endif %}
                    {% if perms.viewer.delete_goal %}
                        <a href="{% url 'goal_delete' goal.id %}">❌Delete</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <p>List of goals is empty.</p>
            {% endfor %}
        </table>
    </div>
</div>
        <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("goals");
          tr = table.getElementsByTagName("tr");

          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>

{% for subordinate in subordinates %}
<br>

<h2> {{ subordinate }} <img src="{{ subordinate.picture.url }}" alt="Profile Picture" width="40px"></h2>

<input type="text" id="myInput{{subordinate.id}}" onkeyup="myFunction{{subordinate.id}}()" placeholder="Search for goal name..." title="Type in a name">

<div class="container mt-5" style="border-radius: 15px;">
    <div class="card shadow-sm">
        <table id="goals{{subordinate.id}}" class="goals">
            <tr>
                <th>Goal Name</th>
                <th>Target Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Revisions</th>
            </tr>
            {% for goal in subordinate.get_all_goals %}
            <tr>
                <td><a href="{% url 'goal' goal.id %}"><strong>{{ goal.name }}</strong></a></td>
                <td>{{ goal.deadline|date:"j. n. Y" }}</td>
                <td>{{ goal.priority|title }}</td>
                <td>{{ goal.status|upper }}</td>
                <td>
                    {% if user.is_authenticated %}
                    {% if perms.viewer.change_goal %}
                        <a href="{% url 'goal_update' goal.id %}">✏️Update</a>
                    {% endif %}
                    {% if perms.viewer.delete_goal %}
                        <a href="{% url 'goal_delete' goal.id %}">❌Delete</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <p>List of goals is empty.</p>
            {% endfor %}
        </table>

        <script>
        function myFunction{{subordinate.id}}() {
          var input{{subordinate.id}}, filter{{subordinate.id}},
            table{{subordinate.id}}, tr{{subordinate.id}}, i, txtValue;
          input{{subordinate.id}} = document.getElementById("myInput{{subordinate.id}}");
          filter{{subordinate.id}} = input{{subordinate.id}}.value.toUpperCase();
          table{{subordinate.id}} = document.getElementById("goals{{subordinate.id}}");
          tr{{subordinate.id}} = table{{subordinate.id}}.getElementsByTagName("tr");

          for (i = 0; i < tr{{subordinate.id}}.length; i++) {
            td = tr{{subordinate.id}}[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter{{subordinate.id}}) > -1) {
                tr{{subordinate.id}}[i].style.display = "";
              } else {
                tr{{subordinate.id}}[i].style.display = "none";
              }
            }
          }
        }
        </script>

    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}
