<title>Reviews | Personal Portal</title>

{% extends "base.html" %}

{% block content %}

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 1px;
}

.tableview {
  border-collapse: collapse;
  width: 100%;
}

.tableview td, .tableview th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableview tr:nth-child(even){background-color: #f2f2f2;}

.tableview tr:hover {background-color: #ddd;}

.tableview th {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

<h1>My Reviews Summary</h1>

{% if user.is_authenticated %}

<p>
    {% if perms.viewer.add_review %}
        <a href="{% url 'review_create' %}">➕Create Review</a>
    {% endif %}
</p>

<input type="text" id="myInput" onkeyup="searchYear()" placeholder="Search for year..." title="Type in a year">

<div class="container mt-5" style="border-radius: 15px;">
    <div class="card shadow-sm">
        <table id="tableview" class="tableview">
            <colgroup>
                <col width="500">
            <colgroup span="3" width="100">
            <tr>
                <th>Review</th>
                <th>Dated</th>
                <th>Created by</th>
                <th>Revisions</th>
            </tr>
                {% for review in reviews %}
            <tr>
                <td>{{ review.description }}</td>
                <td><a href="{% url 'review' review.id %}"><strong>{{ review.creation_date|date:"j. n. Y" }}</strong></a></td>
                <td>{{ review.evaluator|title }}</td>
                <td>
                    {% if user.is_authenticated %}
                        {% if perms.viewer.change_review %}
                            <a href="{% url 'review_update' review.id %}">✏️Update</a>
                        {% endif %}
                        {% if perms.viewer.delete_review %}
                            <a href="{% url 'review_delete' review.id %}">❌Delete</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <p>List of goals is empty.</p>
            {% endfor %}
        </table>
    </div>
</div>

{% for evaluation in evaluations %}
<br>
<h2> {{ evaluation }} <img src="{{ evaluation.picture.url }}" alt="Profile Picture" width="40px"> </h2>

<input type="text" id="myInput2" onkeyup="searchYear()" placeholder="Search for year..." title="Type in a year">

<div class="container mt-5" style="border-radius: 15px;">
    <div class="card shadow-sm">
        <table id="tableview2" class="tableview">
            <colgroup>
                <col width="500">
            <colgroup span="3" width="100">
            <tr>
                <th>Review</th>
                <th>Dated</th>
                <th>Created by</th>
                <th>Revisions</th>
            </tr>
                {% for review in evaluation.get_all_reviews %}
            <tr>
                <td>{{ review.description }}</td>
                <td><a href="{% url 'review' review.id %}"><strong>{{ review.creation_date|date:"j. n. Y" }}</strong></a></td>
                <td>{{ review.evaluator|title }}</td>
                <td>
                    {% if user.is_authenticated %}
                        {% if perms.viewer.change_review %}
                            <a href="{% url 'review_update' review.id %}">✏️Update</a>
                        {% endif %}
                        {% if perms.viewer.delete_review %}
                            <a href="{% url 'review_delete' review.id %}">❌Delete</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <p>List of goals is empty.</p>
            {% endfor %}
        </table>

        <script>
        function searchYear() {
          var input, input2, filter, filter2, table, table2, tr, tr2, td, i, txtValue, datePattern;
          input = document.getElementById("myInput");
          input2 = document.getElementById("myInput2");
          filter = input.value;
          filter2 = input2.value;
          table = document.getElementById("tableview");
          table2 = document.getElementById("tableview2");
          tr = table.getElementsByTagName("tr");
          tr2 = table2.getElementsByTagName("tr");
          datePattern = /^\d{1,2}\.\s\d{1,2}\.\s(\d{4})$/;

          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
          for (i = 0; i < tr2.length; i++) {
            td = tr2[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter2) > -1) {
                tr2[i].style.display = "";
              } else {
                tr2[i].style.display = "none";
              }
            }
          }
        }
        </script>

    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}
