<title>Kudos | Personal Portal</title>

{% extends "base.html" %}

{% block content %}
<style>
    .display-6 {
      color: #04AA6D;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
</style>

  <div class="row mb-4">
    <div class="col-12">
      <h1 class="display-6">Appreciate Incredible Work!</h1>
      <hr />
    </div>
  </div>

<div class="container mt-5">
    <div class="card shadow-sm" style="border-radius: 15px;">
        <div class="card-header bg-primary text-white" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h2>Send Kudos to your Colleague</h2>
        </div>
        <div class="card-body" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success btn-block" style="background-color: #04AA6D">Send Kudos</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}