{% extends 'base.html' %}

{% block content %}
  <h2>{{ task.title }}</h2>
  <p>{{ task.description }}</p>
  <p>To DO creation date: {{ task.creation_date }}</p>
  <p>Deadline: {{ task.due_date }}</p>
  <p>{{ task.to_do_list }}</p>
  <p>{{ task.completed|yesno:"DONE,NOT DONE" }}</p>
  <a href="{% url 'task-update' task.id %}">Update</a>
  <form action="{% url 'task-delete' task.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
  <a href="{% url 'task-list' %}">Back to TO DO LIST</a>
{% endblock %}